<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrowserName" value="chrome" />
    <add key="DriverPath" value="C:\Users\Volha_Limantava\Documents\Visual Studio 2015\Projects\ClassLibrary1\UnitTestProject1\bin\Debug" />
    <add key="FileName" value="C:\Users\Volha_Limantava\Downloads\Task2\Batches\Responsive-Batch-6.xlsx" />
    <add key="TestCaseFileName" value="C:\Users\Volha_Limantava\Downloads\Task2\Batches\Responsive-Batch-6-TestCase.xlsx" />
    <add key="StartURL" value="http://journals.lww.com/" />
    <add key="Login" value="avkozlov_by" />
    <add key="Password" value="Minsk2017" />
  </appSettings>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="user" value="olgalimontova1" />
    <add key="key" value="ZKzqvGoKCWCK8BtGwSCx" />
    <add key="Server" value="hub-cloud.browserstack.com" />
  </appSettings>
  <capabilities>
    <single>
      <add key="browserstack.debug" value="true" />
    </single>
  </capabilities>
  <environments>
    <chrome>
      <add key="browser" value="chrome" />  
    </chrome>
  </environments>
</configuration>
