<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DirectoryPath" value="C:\Users\Volha_Limantava\Documents\Visual Studio 2015\Projects\ClassLibrary1\UnitTestProject1\bin\Debug\"/>
  </appSettings>
</configuration>